body {
  background-color: gray;
  font-family: 'Lucida Sans';
}

header {
  text-align: center;
}

header p {
  font-size: small;
}

.win, .lose {
  display: none;
}

.win h2 {
  color: red;
}

.lose h2 {
  color: blue;
}